@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');

/*colours for use through the site*/
.bg-navy{
    background-color: #2d3065;
}
/*General style*/
body{
    font-family: 'Lato', sans-serif;
    color: #4a4a4a;
}
img {
    max-width: 100%;
    max-height: 100%;
}
ul,li{
    list-style-type: none;
}
/*navbar*/
.navbar {
    margin-bottom: 0;
    padding: 0;
}
.navbar-brand{
    margin-left: 10px;
    width: 100px;
    height: 100px;   
}
.navbar .navbar-toggler{
    border: 0;
}
.custom-toggler.navbar-toggler {
    border-color: #ffffff;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar a{
    color: #ffffff;
}
/*https://tobiasahlin.com/blog/css-trick-animating-link-underlines/*/
.navbar-nav a{
    position: relative;
    color: #ffffff;
    text-decoration: none;
}
.navbar-nav a:before{
    content:"";
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: 0;
    left: 10;
    background-color: #4176E8;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.navbar-nav a:hover:before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.navbar-nav a:active:before{
    content:"";
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: 0;
    left: 10;
    background-color: #4176E8;
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.nav-link > span{
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}
.nav-link > i{
    color:#B3982D;
}
/*Add additional padding to push content below fixed navbar*/
.section-padding-top{
    padding-top: 85px;
1}
/*Header Content*/
.bg-image{
    height: 100vh;
    background: url('../images/course_1.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    padding-top: 100px;

    animation-name: bg-image-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
.bg-image-outer{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

@keyframes bg-image-zoom{
    from{
      transform: scale(1);
    }
    to{
      transform: scale(1.1);
    }
  }

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.jumbotron{
    position: relative;
    top: 25%;
    background-color: transparent;
    color: #ffffff;
}
.jumbotron h1, .jumbotron h2{
    font-family: 'Oswald',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000;
}
.callout{
    padding-top: 40px;
    padding-bottom: 10px;
}
.btn-callout{
    background-color: #4176E8;
    border-color: #4176E8;
    color: #ffffff;
}
.btn-callout:hover{
    background-color: #B3982D;
    border-color: #B3982D;
    color: #ffffff;
}
/*Course Info Section*/
.section-header{
    padding-top: 40px;
    padding-bottom: 20px;
    color: #2d3065;
}
.section-header i{
    padding-left: 6px;
    color: #B3982D;
}
.section-end{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #B3982D;
    margin: 0; 
    padding: 0;
}
.course-video iframe{
    padding: 20px;
}
.course-info {
    padding: 20px;
    vertical-align: middle;
}
/*Green Fees*/ 
.rate{
    padding-left: 6px;
}
.course-rates {
    margin: auto;
    border-color: #B3982D;
}
 .outer-wrapper{
     padding: 10px;
 }
 .inner-wrapper{
    height: 100%;
    background: url('../images/course_6.jpg') no-repeat center center;
    background-size: cover;
}
.inner-wrapper-2{
    height: 100%;
    background: url('../images/course_3.jpg') no-repeat center center;
    background-size: cover;
}
th{
    color: #2d3065;
}
table i{
    color: #B3982D;
} 
/*End Green Fees*/ 
/*Membership options*/
.member-rate{
    padding-right: 10px;
}
.card{
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    text-align: center!important;
}
.card-text{
    padding-bottom: 10px;
}
.collapse{
    padding-top: 10px;
}
.member-card{
    padding-bottom: 20px;
}
.member-item{
    margin: 0;
    padding: 0;
}
/*Contact Form*/
.form-control:hover{
    border: 1px solid #4176E8;;  
}
.modal-header {
    background-color: #4176E8;;
    color: #ffffff;
 }
 .close{
    color:#ffffff ;
 }
 .close:hover{
     color:#ffffff;
 }
 #contact{
     padding-bottom: 20px;
 }

 .footer-text, .footer-text a{
     color:#ffffff;
 }
 .footer-icon{
     color: #4176E8;
 }
 .GUI-logo{
     width: 150px;
 }
 .social-media a{
     color: #ffffff;
     padding-top: 60px;
 }
 .social-list li{
     display: inline-block;
     padding: 10px;
     font-size: 200%;
 }
 .social-icon:hover i{
    color: #4176E8;;
    transform: scale(1.5);
 }
