@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');

/*colours for use through the site*/
.bg-navy{
    background-color: #2d3065;
}
/*General style*/
body{
    font-family: 'Lato', sans-serif;
    color: #4a4a4a;
}
img {
    max-width: 100%;
    max-height: 100%;
}
/*navbar*/
.navbar {
    margin-bottom: 0;
}
.logo{
    margin-left: 10px;
    width: 100px;
    height: 100px;   
}
.navbar .navbar-toggler{
    border: 0;
}
.custom-toggler.navbar-toggler {
    border-color: #ffffff;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar a{
    color: #ffffff;
}
.nav-link > span{
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}
/*Add additional padding to push content below fixed navbar*/
.section-padding-top{
    padding-top: 85px;
}
/*Header Content*/
.bg-image{
    height: 100vh;
    background: url('../images/course_1.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    padding-top: 100px;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.jumbotron{
    position: relative;
    top: 25%;
    background-color: transparent;
    color: #ffffff;
}
.jumbotron h1, .jumbotron h2{
    font-family: 'Oswald',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000;
}
.callout{
    padding-top: 40px;
    padding-bottom: 10px;
}
/*Course Info Section*/
.section-header{
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: 700;
}
.course-video iframe{
    padding: 20px;
    border: 1px solid #000;
}
.course-info {
    padding: 20px;
    vertical-align: middle;
}
/*Green Fees*/ 
.rate{
    padding-left: 6px;
}
.table {
    margin: auto;
 }
 .outer-wrapper{
     padding: 10px;
 }
 .inner-wrapper{
    height: 100%;
    background: url('../images/course_6.jpg') no-repeat center center;
    background-size: cover;
}
.inner-wrapper-2{
    height: 100%;
    background: url('../images/course_3.jpg') no-repeat center center;
    background-size: cover;
} 
/*End Green Fees*/ 
/*Membership options*/
.member-rate{
    padding-right: 10px;
}
.card{
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.card-text{
    padding-bottom: 10px;
}
.collapse{
    padding-top: 10px;
}
.member-card{
    padding-bottom: 20px;
}
.member-item{
    margin: 0;
    padding: 0;
}
.member-item > ul,li{

    list-style-type: none;
}
.btn-member{
    background-color: #2d3065;
    color: #ffffff;
}
.btn-member:hover{
    background-color: #007bff;
    color: #ffffff;
}
/*Contact Form*/
.form-control:hover{
    border: 1px solid #007bff;  
}